<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="customFile.js"></script>
        <script src="reset.js"></script>
        <link rel="stylesheet" href="app.css">

        <title>LPParser</title>
    </head>
    <body>
        <div id="appContainer">
            <h1 id="title">Welcome to the LPParser.</h1>
            <h4 id="subtitle">Please upload your input file. The output file will be automatically downloaded.</h4>
            <h6 id="author">by Topalidis Dimitrios.</h6>
            <form id="appForm" method="POST" action="/"  encType="multipart/form-data">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="inputFile"/>
                    <label class="custom-file-label" for="customFile">Select the input file</label>
                </div>
                <div id="parseButtonDiv">
                    <input type="submit" class="btn" value="Parse" id="parseButton"/>
                </div>
                <div id="resetButtonDiv">
                    <input type="button" class="btn" value="Reset" id="resetButton"/>
                </div>
            </form>
            <p id="errors">
                <%if (errors != "") { %>
                    Errors: <%= errors %>
                <% } %>
            </p>
            <p id="githubPromo">
                Don't forget to give a start, and download the library. Feel free to add functionality and improve the code.<br>
                The GitHub directory is the following: <a  id="githubLink" href="https://github.com/Dimtop/Linear-Problem-Parser">https://github.com/Dimtop/Linear-Problem-Parser</a>
            </p>
        </div>
    </body>
</html>